/target/
*.iml
*.output
.classpath
.project
/.settings

.DS_Store

*.DS_Store

*.lst

*.jar

*.class

pegacorn-buildingblocks-processingplant/target/maven-archiver/

pegacorn-buildingblocks-workshop/target/maven-archiver/

pegacorn-buildingblocks-directoryservices/target/maven-archiver/pom.properties

*.properties
pegacorn-buildingblocks/.settings/org.eclipse.core.resources.prefs
pegacorn-buildingblocks/.settings/org.eclipse.m2e.core.prefs
pegacorn-buildingblocks-auditservices/.factorypath
pegacorn-buildingblocks-auditservices/.settings/org.eclipse.core.resources.prefs
pegacorn-buildingblocks-auditservices/.settings/org.eclipse.jdt.apt.core.prefs
pegacorn-buildingblocks-auditservices/.settings/org.eclipse.jdt.core.prefs
pegacorn-buildingblocks-auditservices/.settings/org.eclipse.m2e.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels/.settings/org.eclipse.core.resources.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels/.settings/org.eclipse.m2e.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-communicate/.factorypath
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-communicate/.settings/org.eclipse.core.resources.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-communicate/.settings/org.eclipse.jdt.apt.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-communicate/.settings/org.eclipse.jdt.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-communicate/.settings/org.eclipse.m2e.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-components/.settings/org.eclipse.core.resources.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-components/.settings/org.eclipse.jdt.apt.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-components/.settings/org.eclipse.jdt.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-components/.settings/org.eclipse.m2e.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-esr/.factorypath
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-esr/.settings/org.eclipse.core.resources.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-esr/.settings/org.eclipse.jdt.apt.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-esr/.settings/org.eclipse.jdt.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-esr/.settings/org.eclipse.m2e.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-fhir/.factorypath
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-fhir/.settings/org.eclipse.core.resources.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-fhir/.settings/org.eclipse.jdt.apt.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-fhir/.settings/org.eclipse.jdt.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-fhir/.settings/org.eclipse.m2e.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-matrix/.factorypath
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-matrix/.settings/org.eclipse.core.resources.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-matrix/.settings/org.eclipse.jdt.apt.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-matrix/.settings/org.eclipse.jdt.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-matrix/.settings/org.eclipse.m2e.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-synapse/.factorypath
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-synapse/.settings/org.eclipse.core.resources.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-synapse/.settings/org.eclipse.jdt.apt.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-synapse/.settings/org.eclipse.jdt.core.prefs
pegacorn-buildingblocks-datamodels/pegacorn-buildingblocks-datamodels-synapse/.settings/org.eclipse.m2e.core.prefs
pegacorn-buildingblocks-directoryservices/.factorypath
pegacorn-buildingblocks-directoryservices/.settings/org.eclipse.core.resources.prefs
pegacorn-buildingblocks-directoryservices/.settings/org.eclipse.jdt.apt.core.prefs
pegacorn-buildingblocks-directoryservices/.settings/org.eclipse.jdt.core.prefs
pegacorn-buildingblocks-directoryservices/.settings/org.eclipse.m2e.core.prefs
pegacorn-buildingblocks-edge/pegacorn-buildingblocks-edge/.settings/org.eclipse.core.resources.prefs
pegacorn-buildingblocks-edge/pegacorn-buildingblocks-edge/.settings/org.eclipse.m2e.core.prefs
pegacorn-buildingblocks-edge/pegacorn-buildingblocks-edge-messaging/.factorypath
pegacorn-buildingblocks-edge/pegacorn-buildingblocks-edge-messaging/.settings/org.eclipse.core.resources.prefs
pegacorn-buildingblocks-edge/pegacorn-buildingblocks-edge-messaging/.settings/org.eclipse.jdt.apt.core.prefs
pegacorn-buildingblocks-edge/pegacorn-buildingblocks-edge-messaging/.settings/org.eclipse.jdt.core.prefs
pegacorn-buildingblocks-edge/pegacorn-buildingblocks-edge-messaging/.settings/org.eclipse.m2e.core.prefs
